// ────────────── Startup Applications ──────────────
// https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

// spawn-at-startup "noctalia"
// spawn-at-startup "vicinae" "server"
spawn-at-startup "kitty" "-1" "--start-as=hidden"
// spawn-at-startup "wl-clip-persist" "--clipboard" "regular"
// spawn-at-startup "udiskie"
// spawn-at-startup "~/.config/niri/scripts/g"
// spawn-at-startup "niri++"
// spawn-at-startup "oniri" "-T"
spawn-at-startup "games-idle-inhibition"
