include "dms/colors.kdl"
include "dms/layout.kdl"
include "./animation.kdl"
include "./autostart.kdl"
include "./keybinds.kdl"
include "./input.kdl"
include "./output.kdl"
include "./layout.kdl"
include "./rules.kdl"
include "./misc.kdl"

// include "noctalia.kdl"
// include "disable-ws-switch-anim.kdl"
// DMS Include Configs
include "dms/cursor.kdl"
include "dms/windowrules.kdl"
