// ────────────── Input Configuration ──────────────
// https://github.com/niri-wm/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 250
    }

    mouse {
        accel-profile "flat"
        accel-speed 0.0
    }

    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="49%"
    disable-power-key-handling
}
