binds {

    // ────────────── Keybindings ──────────────
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    // ─── noctalia-shell keybinds ───
    // https://docs.noctalia.dev/getting-started/keybinds/

    // DEBUG
    Mod+ALt+Ctrl+T { toggle-debug-tint; }

    Ctrl+Space                          { switch-layout "next"; }
    // Shift+Alt_r                          { switch-layout "next"; }
    Mod+Shift+ESCAPE                     { show-hotkey-overlay; }

    // ─── Applications ───
    Ctrl+Alt+Mod+Return  hotkey-overlay-title="Open Terminal" { spawn "kitty" "-1"; }
    // Ctrl+Alt+Mod+F       hotkey-overlay-title="Open App Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    // Ctrl+Alt+Mod+F       hotkey-overlay-title="Open App Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Ctrl+Alt+Mod+F       hotkey-overlay-title="Open App Launcher" { spawn "vicinae" "toggle"; }
    // Ctrl+Alt+Mod+F       hotkey-overlay-title="Open App Launcher" { spawn-sh "pkill fuzzel || fuzzel"; }
    // Ctrl+Alt+Mod+B       hotkey-overlay-title="Open Browser" { spawn "brave-origin-nightly" "--ozone-platform=wayland"; }
    // Ctrl+Alt+Mod+B       hotkey-overlay-title="Open Browser" { spawn "zen-browser"; }
    Ctrl+Alt+Mod+B       hotkey-overlay-title="Open Browser" { spawn "helium"; }
    // Ctrl+Alt+Mod+B       hotkey-overlay-title="Open Browser" { spawn "brave-origin"; }
    // Ctrl+Alt+Mod+P       hotkey-overlay-title="MPV Launcher" { spawn "~/.config/noctalia/mpv-launcher.sh"; }
    Ctrl+Alt+Mod+P       hotkey-overlay-title="MPV Launcher" { spawn-sh "vicinae vicinae://close || vicinae vicinae://launch/@the_revolution/mpv-launcher/mpv-launcher"; }
    // Ctrl+Alt+Mod+V       hotkey-overlay-title="Clipboard" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Ctrl+Alt+Mod+V       hotkey-overlay-title="Clipboard" { spawn-sh "vicinae vicinae://close || vicinae vicinae://launch/clipboard/history"; }
    Mod+S       hotkey-overlay-title="SSH" { spawn-sh "vicinae vicinae://close || vicinae vicinae://launch/@leiserfg/store.vicinae.ssh/ssh"; }
    Ctrl+Alt+Mod+E       hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }
    // Mod+C                      { spawn-sh "vicinae vicinae://close || ~/.config/noctalia/config-lister.sh"; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "-l" "1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }

    // // ─── Brightness Controls ───
    // XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    // XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    // ─── Window Movement and Focus ───
    Alt+F4                              { close-window; }
    // Alt+F4 { spawn-sh "niri msg action close-window; sleep 0.1; niri msg action focus-column-left; niri msg action focus-column-right"; }
    Alt+W                               { focus-window-or-workspace-up; }
    Alt+S                               { focus-window-or-workspace-down; }
    Alt+A                               { focus-column-or-monitor-left; }
    Alt+D                               { focus-column-or-monitor-right; }
    Alt+H                               { focus-column-left; }
    Alt+L                               { focus-column-right; }
    Alt+Up                              { focus-window-up; }
    Alt+K                               { focus-window-up; }
    Alt+Down                            { focus-window-down; }
    Alt+J                               { focus-window-down; }

    
    Ctrl+Alt+H                          { move-column-left; }
    Ctrl+Alt+A                          { move-column-left-or-to-monitor-left; }
    Ctrl+Alt+L                          { move-column-right; }
    Ctrl+Alt+D                          { move-column-right-or-to-monitor-right; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+Ctrl+Home                       { move-column-to-first; }
    Mod+Ctrl+End                        { move-column-to-last; }

    Mod+Shift+Left                      { focus-monitor-left; }
    Mod+Shift+Right                     { focus-monitor-right; }
    Mod+Shift+UP                        { focus-monitor-up; }
    Mod+Shift+Down                      { focus-monitor-down; }

    Mod+Shift+Ctrl+Left                 { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right                { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+UP                   { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Down                 { move-column-to-monitor-down; }

    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=50 { focus-column-left; }
    Mod+WheelScrollUp                   cooldown-ms=50 { focus-column-right; }
    Mod+Ctrl+WheelScrollDown            cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp              cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
    Mod+Ctrl+WheelScrollRight           { move-column-right; }
    Mod+Ctrl+WheelScrollLeft            { move-column-left; }

    Mod+Shift+WheelScrollDown           { focus-column-right; }
    Mod+Shift+WheelScrollUp             { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown      { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp        { move-column-left; }

    Mod+1 { focus-monitor "DP-1"; }
    Mod+2 { focus-monitor "DP-2"; }
    Mod+Ctrl+1 { move-window-to-monitor "DP-1"; }
    Mod+Ctrl+2 { move-window-to-monitor "DP-2"; }

    Alt+1                               { focus-workspace "1"; }
    Alt+2                               { focus-workspace "2"; }
    Alt+3                               { focus-workspace "3"; }
    Alt+4                               { focus-workspace "4"; }
    Alt+5                               { focus-workspace "5"; }
    Alt+6                               { focus-workspace "6"; }
    Alt+7                               { focus-workspace "7"; }
    Alt+8                               { focus-workspace "8"; }
    Alt+9                               { focus-workspace "9"; }
    Mod+G                               { focus-workspace "G"; }
    
    Ctrl+Alt+1                          { move-window-to-workspace "1"; }
    Ctrl+Alt+2                          { move-window-to-workspace "2"; }
    Ctrl+Alt+3                          { move-window-to-workspace "3"; }
    Ctrl+Alt+4                          { move-window-to-workspace "4"; }
    Ctrl+Alt+5                          { move-window-to-workspace "5"; }
    Ctrl+Alt+6                          { move-window-to-workspace "6"; }
    Ctrl+Alt+7                          { move-window-to-workspace "7"; }
    Ctrl+Alt+8                          { move-window-to-workspace "8"; }
    Ctrl+Alt+9                          { move-window-to-workspace "9"; }
    Ctrl+Alt+W                          { move-window-up-or-to-workspace-up; }
    Ctrl+Alt+S                          { move-window-down-or-to-workspace-down; }

    Mod+TAB                             { focus-workspace-previous; }

    // ─── Layout Controls ───
    Mod+Ctrl+F                         { fullscreen-window; }
    Mod+F                               { switch-preset-column-width; }
    // Mod+C                               { center-column; }
    Mod+Ctrl+C                          { center-visible-columns; }
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }
    Alt+Comma                           { consume-or-expel-window-left; }
    Alt+Period                          { consume-or-expel-window-right; }
    Mod+BracketLeft                     { move-column-to-monitor-left; }
    Mod+BracketRight                    { move-column-to-monitor-right; }

    // ─── Modes ───
    Mod+T                               { toggle-window-floating; }

    // ─── Screenshots ───
    // Ctrl+Shift+1                        { screenshot show-pointer=false; }
    // Ctrl+Shift+2                        { screenshot-screen show-pointer=false; }
    // Ctrl+Shift+3                        { screenshot-window show-pointer=false; }
    Ctrl+Shift+Escape                   { spawn "missioncenter"; }
    Ctrl+Shift+1                               { spawn-sh "dms screenshot"; }
    Ctrl+Shift+2                          { spawn "record" "video"; }
    Ctrl+Shift+3                          { spawn "record" "gif"; }
    Mod+E                               { spawn-sh "wl-paste -t image/png | satty -f - --early-exit all --copy-command wl-copy"; }
    Mod+Escape                          { spawn "noctalia" "msg" "panel-toggle" "session"; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+Ctrl+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    Ctrl+Alt+Delete                     { quit; } // Also quits Niri
    Mod+Shift+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    Mod+O                               repeat=false { toggle-overview; }
}
