layout {
    gaps 12
    // always-center-single-column
    fill-empty-space
    center-focused-column "never" // Don’t auto-center focused column
    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    default-column-width {
        proportion 0.5
    }

    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    focus-ring {
        off
        active-gradient from="#00d5ff" to="#004cff" angle=135
        width 2
    }

    border {
        on
        width 2
        active-color "#7aa2f7"
        inactive-color "#1e1e2e"
        // active-gradient from="#00d5ff" to="#004cff" angle=135
        // urgent-color "#9b0000"
    }

    shadow { 
        on
        softness 1
        spread 1
        offset x=0 y=0
    }

    // struts {
    //     left 4
    //     right 4
    //     bottom 2
    //     top 2
    // }
}
